/*I tried to create a comic book style*/

/*set default body font and background*/
body{
  font-family:"Comic Sans MS",Arial, sans-serif;
  background-image: url("images/itcomics.jpg");
  background-size: cover;
  background-position: center;  
  height: 150vh;                
  margin: 0;
  color: #000000;  
}


/*####NAV STYLES#####*/
/*Elements selector*/
/*top navigation base style*/
/*anchor link style*/
nav ul {
  display: inline-grid;
  grid-auto-flow: column;
  gap:0.5rem;
  list-style: none;
}



nav ul li a{
  font-size: 24px;
  list-style: none;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.89);
  border: black solid 5px;
  padding: 8px;
}

/*class selector hover for each nav*/
ul li:nth-child(3n+1) .top-nav:hover {
  background-color: rgba(254, 36, 2, 0.751);
  border: solid 7px black;
}

 ul li:nth-child(3n+2) .top-nav:hover{
  background-color: rgba(2, 187, 254, 0.751);
  border: solid 7px black;
}

ul li:nth-child(3n+3) .top-nav:hover {
  background-color: rgba(254, 141, 2, 0.751);
  border: solid 7px black;
}



/*H1 Styles*/
h1 {
  background-color: rgba(255, 255, 255, 0.89);
  border: solid 10px black;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 3rem;
  margin: 1rem 1rem 1rem 2rem;
  padding: 1rem;
  text-align: center;
  max-width: 740px;
}

/*####Main STYLES#####*/
main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 2rem;
  gap: 1.5rem;
}



/*ID's for each section (manipulating margin and background::before to opacity)*/

#aboutme {
  position: relative; /*necessary to apply ::before*/
  border: 6px solid black;
  box-shadow: 
  0 0 0 5px white, 
  0 0 0 10px black;
  padding: 20px;
  box-sizing: border-box;
}

#aboutme::before {/*apply opacity on backgroung color*/
  content: "";
  position: absolute;
  inset: 0; /* cover all section */
  background-color: rgba(120, 217, 252, 0.922); /* control opacity and don't affect font */
  z-index: -1; /* behind section*/
}



#education{
  position: relative; /*necessary to apply ::before*/
  border: 6px solid black;
  box-shadow: 
  0 0 0 5px white, 
  0 0 0 10px black;
  padding: 20px;
  box-sizing: border-box
}
#education::before {/*apply opacity on backgroung color*/
  content: "";
  position: absolute;
  inset: 0; /* cover all section */
  background-color: rgba(255, 167, 117, 0.966); /* control opacity and don't affect font */
  z-index: -1; /* behind section*/
}


#skills{
  position: relative; /*necessary to apply ::before*/
  border: 6px solid black;
  box-shadow: 
  0 0 0 5px white, 
  0 0 0 10px black;
  padding: 20px;
  box-sizing: border-box
}

#skills::before {/*apply opacity on backgroung color*/
  content: "";
  position: absolute;
  inset: 0; /* cover all section */
  background-color: rgba(252, 237, 120, 0.966); /* control opacity and don't affect font */
  z-index: -1; /* behind section*/
}

#workexperience{
 position: relative; /*necessary to apply ::before*/
  border: 6px solid black;
  box-shadow: 
  0 0 0 5px white, 
  0 0 0 10px black;
  padding: 20px;
  box-sizing: border-box
}

#workexperience::before {/*apply opacity on backgroung color*/
  content: "";
  position: absolute;
  inset: 0; /* cover all section */
  background-color: rgba(120, 252, 188, 0.963); /* control opacity and don't affect font */
  z-index: -1; /* behind section*/
}

/*Contact Form*/
#contactFormSection {
  position: relative;
  border: 6px solid black;
  box-shadow: 0 0 0 5px white, 0 0 0 10px black;
  padding: 25px;
  box-sizing: border-box;
  grid-column: 1/3; /* Occupy two columns */
  z-index: 1; /* behind section*/
  
  display: flex;
  flex-direction: column;
}

#contactFormSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(252, 237, 120, 0.966);
  z-index: -1;
  pointer-events: none;
}

/*class .comic-form to internal organization*/
.comic-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Nome e Email divididos 50/50 */
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.field-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Inputs and Text Styles*/
input, textarea {
  width: 100%;
  box-sizing: border-box; /* Impede que o campo saia da borda */
  border: 3px solid black;
  padding: 10px;
  font-family: inherit;
  background-color: white;
  font-size: 1rem;
}

/*span hidden style, to interactive with the user*/
.thanks-style_hidden {
  display: none;/*keep the content hiden*/
  color: #000;
  font-size: 1.2rem;
  background-color: #eaeaea;
  border: 4px solid #000;
  padding: 15px;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}

.thanks-style_show{
  display: block !important;/*show the message with style*/
}

/*Send Button*/
#sendBtn {
  align-self: flex-start;
  padding: 10px 40px;
  background-color: black;
  color: white;
  border: 3px solid black;
  border-radius: 15px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
}

#sendBtn:hover {
  background-color: white;
  color: black;
}


/*####FOOTER STYLES#####*/
footer#contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 94%;
    justify-items: center;
    margin: 0 auto;
    padding: 5px 10px;
    position: relative; /*necessary to apply ::before*/
    border: 6px solid black;
    box-shadow: 
    0 0 0 5px white, 
    0 0 0 10px black; 
}


footer#contact::before{/*apply opacity on backgroung color*/
  content: "";
  position: absolute;
  inset: 0; /* cover all section */
  background-color: rgba(120, 252, 252, 0.963); /* control opacity and don't affect font */
  z-index: -1; /* behind section*/
}

/* Footer section titles */
footer h2 {
    margin: 10px 0 8px;
    font-size: 1.6rem;
}

/* Footer lists */
footer ul {
  margin-top: 1px;
  list-style: none;
  font-size: 1.3rem;
  padding-left: 0; /*remove the default padding (40px)*/
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-shadow: whitesmoke;
}


/*Class selector*/

.profile-img {
  display:flex;
  justify-content:center ;
  margin: 50px auto 40px;
  max-width: 360px;
  height: auto;
  transform: rotate(25deg);
  padding-top: 60px;
}

/*###BUTTONS STYLES###*/
/*Dark Mode Button*/
/*control div proprities*/
.darkModeButton{
display: flex;
margin-left: 45px;
margin-top: 10px;
}
/*control button proprities*/
#darkModeBtn{
  font-family: inherit;
  font-size: 1.3rem;
  padding: 5px;
  border: 3px solid #000;
  border-radius: 15px;
}
#darkModeBtn:hover{
  color: #FFF;
  border: 3px solid #FFF;
  background-color: #000;
}

/*Suit Up Button*/
/*control div proprities*/
.suitUpButton{
display: grid;
justify-items: center;
position: relative;
z-index: 1;
}

/*control button proprities*/
#suitUpBtn{
  font-family: inherit;
  font-size: 1.3rem;
  padding: 10px 60px 10px;
  border: 3px solid #000;
  border-radius: 15px;
}
#suitUpBtn:hover{
  color: #e40f0f;
  text-shadow: 0px 0px 5px #e40f0f;
  border: 3px solid #1900ff;
  background-color: #fffb00;
}

/*###Dark Mode Styles###*/
/*body*/
.darkMode{
  background-image: url("images/itcomicsReverse.png");
  background-size: cover;
  background-position: center;                 
  margin: 0;
  color: #FFF;
}

/*nav*/
.navReverse{
  color: rgb(255, 255, 255);
  background-color: rgba(56, 56, 56, 0.89);
  border: rgb(255, 255, 255) solid;
}

ul li .top-nav.navReverse:hover {
  background-color: rgba(26, 26, 26, 0.89);
  border: solid 7px  rgb(202, 202, 202);
}

/*h1*/
.h1Reverse {
  background-color: rgba(56, 56, 56, 0.89);
  border:  rgb(255, 255, 255) solid;
}

/*main section*/
.mainSectionReverse {
  border: solid rgb(220, 220, 220) !important;
  box-shadow: 
  0 0 0 5px #000, 
  0 0 0 10px rgb(220, 220, 220) !important;
}

.mainSectionReverse::before{
  background-color: rgba(38, 38, 38, 0.966) !important; /* control opacity and don't affect font */
}

/*footer*/
.footerReverse{
  border: solid rgb(220, 220, 220) !important;
  box-shadow: 
  0 0 0 5px #000, 
  0 0 0 10px rgb(220, 220, 220) !important; 
}
.footerReverse::before{
  background-color: rgba(22, 22, 22, 0.966) !important; /* control opacity and don't affect font */
}

/*Suit Up Button*/
.suitUpBtnReverse:hover{
  color: #e2e2e2 !important;
  text-shadow: 0px 0px 8px #151515 !important;
  border: 3px solid #e1e1e1 !important;
  background-color: rgb(0, 0, 0) !important;
}
/*###END OF DARK MODE STYLES###*/

/*#####RESPONSIVE STYLES#####*/
@media (max-width: 800px) {
/*adjust background image to keep a similar format in smaller screens*/
body{
  height: 110vh;                
}

nav ul{
  padding-left: 10px;/*remove the default padding (40px) and adjust to 10px*/
}

  nav ul li a {
    display: grid;
    font-size: 16px;
    padding: 6px;
    border: 3px solid black;
    margin: 1px;
  }

  main{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin: 1.5rem;
  gap: 1.5rem;
}

h1 {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 2rem;
  padding: 0.1rem;
  text-align: center;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.89);
  border: black solid 4px;
}

#contactFormSection {
  grid-column: 1 / 2; /*grid-column adjustment for smaller screens*/
  width: 100%;
  box-sizing: border-box;
}

.form-row {
  display: flex;       /* change grid to flex */
  flex-direction: column; /* organize name and email */
  gap: 10px;
}

#sendBtn {
  width: 100%;
  align-self: center;
}

footer#contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 94%;
    justify-items: center;
    margin: 0 auto;
    padding: 5px 10px;
    position: relative; /*necessary to apply ::before*/
    border: 6px solid black;
    box-shadow: 
    0 0 0 5px white, 
    0 0 0 10px black; 
}

/* Footer section titles */
footer h2 {
    font-size: 1.3rem;
}

/* Footer lists */
footer ul {
  font-size: 1.1rem;
}



/*Class selector*/

.profile-img {
  display:flex;
  justify-content:center ;
  margin: 25px auto 20px;
  max-width: 260px;
  height: auto;
  transform: rotate(25deg);
  padding-top: 60px;
}

/*adjust button font-size*/
#darkModeBtn{
font-size: 1rem;
}
/*adjust button font-size and padding*/
#suitUpBtn{
font-size: 1rem;
padding:10px 40px 10px;
}

}